* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 20px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd){
    background: #f9f9f9;
}
ul li:hover{
    background: #ddd;
}
ul li.checked::before{
    content: "";
    position: absolute;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;

}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: blue;
    color: #ddd;
}
.header{
    background-color: violet;
    padding: 30px 40px;
    color: #ddd;
    text-align: center;
}
.header::after{
    content: "";
    display: table;
    clear: both;
}
input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 15px;
}
.addBtn{
    padding: 10px;
    width: 25%;
    background: red;
    color: rgb(237, 232, 232);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: [pointer];
    transition: 0.3s;
    border-radius: 7px;
}

.addBtn:hover{
    background-color: grey;
}

.div_calendar{
    position: absolute;
    left: 42%;
    margin-top: 3%;
}

.calendar{
    position: relative;
    width: 200px;
    background: rgba(60, 65, 143, 0.137);
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient (transparent,transperant,#0004);
}

.calendar #monthName{
    position: relative;
    padding: 5px 10px;
    background: #ff0000;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.calendar #dayName{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
}

.calendar #dayNumber{
    margin-top: 0;
    line-height: 1em;
    font-size: 80px;
    font-weight: 700;
    color: #333;
}

.calendar #year{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #999;
}
